@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --amplify-colors-background-primary: theme('colors.white');
    --amplify-colors-background-secondary: theme('colors.gray.100');
    --amplify-colors-brand-primary-10: theme('colors.indigo.50');
    --amplify-colors-brand-primary-80: theme('colors.indigo.500');
    --amplify-colors-brand-primary-90: theme('colors.indigo.600');
    --amplify-colors-brand-primary-100: theme('colors.indigo.700');
    --amplify-components-button-primary-background-color: theme('colors.indigo.600');
    --amplify-components-button-primary-hover-background-color: theme('colors.indigo.700');
    --amplify-components-button-padding-block: theme('spacing.2');
    --amplify-components-button-padding-inline: theme('spacing.4');
    --amplify-components-button-border-radius: theme('borderRadius.md');
  }
}
